body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 375px;
  height: 100%;
  padding: 0;
  overflow: auto;
  max-width: 1440px;
}

#root {
  max-width: 100%;
  height:100%;
  margin: 0; 
  padding: 0; 
  position: relative;
}

main {
  padding: 93.9px 20px 209px;
  margin: 0 auto;
  /* max-width: 1440px; */
}

@media screen and (min-width: 768px){
body{
  max-width: 1440px;
}

main {
  padding: 163px 100px 209px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 100%;
}

}
