 .homeContainer{
    width: 100%;
} 

.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 0; 
}

.cardLocation{
    margin-bottom: 1.25rem;
    width: 100%;
}

.linkCardLocation{
    text-decoration: none;
    min-width: 21.25rem;
}

@media screen and (min-width: 768px){
    .homeContainer{
        margin-bottom: 3.125rem;
    }

    .cardsContainer{
        margin-top: 2.688rem;
        border-radius: 1.563rem;
        background: #F6F6F6;
        padding: 3.125rem 3.125rem 0;
        column-gap: 1.25rem;
    }

    .cardLocation{
        margin-bottom: 3.125rem;
        width: calc(33.333% - 20px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1350px){
    .cardLocation {
        width: calc(50% - 20px); 
    }
}

@media screen and (min-width: 768px) and (max-width: 1020px){
    .cardLocation {
        width: calc(100%); 
        justify-content: center;
    }
}