 .homeContainer{
    margin-bottom: -13px;
} 

.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 0 20px;
}

.cardLocation{
    margin: 0 0 20px;
    width: 100%;
}

.linkCardLocation{
    text-decoration: none;
    min-width:340px;
}

@media screen and (min-width: 768px){
    .homeContainer{
        margin-bottom: 50px;
    }

    .cardsContainer{
        margin: 43px 100px 0;
        border-radius: 25px;
        background: #F6F6F6;
        padding: 50px 50px 0;
        column-gap: 30px;
    }

    .cardLocation{
        margin: 0 auto 50px;
        width: calc(33.333% - 20px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .cardLocation {
        width: calc(50% - 20px); 
        margin-bottom: 20px;
    }
}