.fiche-container{
padding: 7px 0;
width: 100%;
margin: 0;
}

.title-tags-container{
display: flex;
flex-direction: column;
}

.title-tags-container h1{
    margin: 9px 0;
    font-size: 18px;
    line-height: 142.6%;
}

.title-tags-container h3{
    font-size: 14px;
    margin: 9px 0;
    line-height: 142.6%;
}

.tags-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.rate-host-container{
    display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
    align-items: center;

}

.hostInfo-container{
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.rate-container{
    display: flex;
    align-items: flex-start;
}

.collapse-fiche-container{
    display: flex;  
    flex-direction: column;
    margin-top: -5px;
}

.equipList {
	list-style-type: none;
    line-height: 142.6%;
    font-size: 12px;
    /* font-weight: 400; */
}

@media screen and (min-width: 768px){
    .fiche-container{
        margin: 0;
    }

    .tags-container{
        margin-bottom: 0;
    }

    .rate-host-container{
        flex-direction: column;
		justify-content: center;
        gap: 20px;
    }
    .hostInfo-container{ 
        flex-direction: row;
        align-items: flex-start;
    }

    .title-tags-container h1{
        font-size: 36px;
    }

    .title-tags-container h3{
        font-size: 18px;
    }

    .collapse-fiche-container{
        column-gap: 76px;
        flex-direction: row;
        margin: -10px 0 -21px;
    }
    .equipList {
        font-size: 18px;
    }
}