
.title-tags-container{
display: flex;
flex-direction: column;
}

.title-tags-container h1{
/* margin */
font-size: 18px;
}

.title-tags-container h3{
    font-size: 14px;
    /* margin */
}

.tags-container{
    display: flex;
    flex-wrap: wrap;
    /* 垂直排列方式 */
}

.rate-host-container{
    display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;

}

.hostInfo-container{
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    width: 100%;
}


@media screen and (min-width: 768px){
    .rate-host-container{
        flex-direction: column;
		justify-content: center;
    }
    .hostInfo-container{ 
        flex-direction: row;
        align-items: flex-end;
    }

    .title-tags-container h1{
        font-size: 36px;
    }

    .title-tags-container h3{
        font-size: 18px;
    }

}