.AboutBannerContainer{
    height: 7rem;
    border-radius: 10px;
    margin: 0 0 1.188rem;
    position: relative;
    overflow: hidden;
    background: #000 url('../../assets/AboutBanner.png') center/cover no-repeat;
}


@media screen and (min-width: 768px){
   .AboutBannerContainer{
    height: 14rem;
    margin: 30px 0 2.375rem;
    border-radius: 25px;
   } 
}