.tagContainer{
    display: flex;
    align-items: center;
}

.tagButton{
    height: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #FF6060;
    color: #FFF;
    margin-right: 10px;
    padding: 2px 10px 2px;
    font-size: 10px;  
}

@media screen and (min-width: 768px){
    .tagButton{
        flex-direction: column;
        height: 1.563rem;
        border-radius: 10px;
        font-size: 0.875rem;
    }
}