.rate-comp{
    width: 98px;
    height: 18px;
    margin-top: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star{
    width: 15px;
    height: 15px;
}

@media screen and (min-width: 768px){
    .rate-comp{
        width: 166px;
        height: 36px;
    }
    .star{
        width: 30px;
        height: 30px;
    }
}