.rate-comp{
    width: 6.125rem;
    height: 1.125rem;
    margin-top: 0.75rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star{
    width: 0.938rem;
    height: 0.938rem;
}

@media screen and (min-width: 768px){
    .rate-comp{
        width: 10.375rem;
        height: 2.25rem;
    }
    .star{
        width: 1.875rem;
        height: 1.875rem;
    }
}